@import "tailwindcss";

@theme {
  --color-primary: #222428;
  --color-background: #222428;
  --color-foreground: #f5f5f5;
  --color-muted: #a3a3a3;
  --color-accent: #737373;
  --color-border: #404040;
  --color-button: #404040;
  --color-button-hover: #555555;
  --color-white: #ffffff;
  --color-black: #000000;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #555 #2a2a2a; /* thumb track for Firefox */
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2a2a2a;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

body {
  font-family: 'Arimo', sans-serif;
  background-color: var(--color-primary);
  color: var(--color-foreground);
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}